.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.397);
  min-width: 260px;
  max-width: 600px;
  height: 80vh;
  padding: 15px;
  box-shadow: inset 0px 0px 42px -12px rgba(66, 68, 90, 1);
}

.header {
  color: rgba(5, 5, 66, 0.823);
  text-align: center;
}

.book {
  display: block;
  font-size: 200px;
}
