.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.formInput {
  display: block;
  margin-top: 10px;
  height: 40px;
  padding-left: 20px;
  min-width: 280px;
  border-radius: 15px;
  border: 1px solid #00a6ed;
}

.formButton {
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 50px; 
  background-color: #00a6ed;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}

.formLabel{
    font-weight: 500;
}